@import url('https://fonts.googleapis.com/css?family=Spirax');

h1, #lastWord {
    font-family: 'Spirax', cursive;
}

body {
    background-image: url("../images/194.jpg")
}

#wordDisplay {
    letter-spacing: 0.5em;
}